<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://JAVA.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
<!--  <display-name>Project1_ERS</display-name> -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <!-- MasterServlet Configuration -->

	<servlet>
		<servlet-name>MasterServlet</servlet-name>
		<servlet-class>com.project1.servlet.MasterServlet</servlet-class>
		<!-- Eager or lazy loaded servlet, eager is loaded on server startup, lazy 
			is loaded when the servlet is first requested.
			Can be a value > =or <  0:
			if it is less than 0, it means lazy loaded
			if it is >=0, it means eagerly loaded in that priority
			0 is the default-->
		<load-on-startup>1</load-on-startup>
		
	</servlet>

	<servlet-mapping>
		<servlet-name>MasterServlet</servlet-name>
		<url-pattern>*.change</url-pattern> <!-- * is a wildcard, any request that ends with its URL with .change will 
			be given to the master servlet -->
		<!-- <url-pattern>/api/*</url-pattern> -->
	</servlet-mapping>
	
	<!-- JSONServlet Configuration -->

	<servlet>
		<servlet-name>JSONMasterServlet</servlet-name>
		<servlet-class>com.project1.servlet.JSONMasterServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>JSONMasterServlet</servlet-name>
		<url-pattern>*.json</url-pattern> <!-- * is a wildcard, any request that ends with its URL with .change will 
			be given to the master servlet -->
		<!-- <url-pattern>/api/*</url-pattern> -->
	</servlet-mapping>
	
	
</web-app>